<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Bonus</title>
    <link rel="stylesheet" type="text/css" th:href="@{Styles.css}"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h1>Bonus Info</h1>
    <form method="Post" th:action="@{/home/bonusInfo/}">

        <p>Enter Streetname</p>
        <input type="text" th:field="${bonusInfo.Streetname}"/>
        <p>Enter City</p>
        <input type="text" th:field="${bonusInfo.City}"/>
        <p>Enter Country</p>
        <input type="text" th:field="${bonusInfo.Country}"/>

        <input th:href="${'/home/home'}" class="btn btn-primary" type="submit" value="Send"/>
    </form>
    <a th:href="${'/home/home'}">
        <button class="btn btn-warning">home</button>
    </a>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>