<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{Styles.css}"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h1>Details</h1>
    <p th:text="'email: ' + ${user.email}"></p>
    <p th:text="'First Name: ' + ${user.firstname}"></p>
    <p th:text="'lastname: ' + ${user.lastname}"></p>
    <a th:href="${'/home/edit/'}">
        <button class="btn btn-warning">edit</button>
    </a>
    <a th:href="${'/home/bonusInfo'}">
        <button class="btn btn-warning">bonus Info</button>
    </a>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>